<head>
  <style>
    h1 {font-family:fantasy;
      color: #563d7c;
      text-align: center;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 40px;}
  </style>
</head>

<body>
  <h1>Our barbershop is ToP4iK</h1>
</body>

